<html ng-app="shoppingListApp">
<head>
  <title>Shopping List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <h1>Shopping List</h1>
  <div ng-controller="ShoppingController">

    <input type="text" name="todoName" size="30" placeholder="Enter your Grocery item here" ng:required />
  Amount:
    <select name="todoEstimate">
        <option ng:repeat="estimate in estimates" value="{{estimate}}">{{estimate}}</option>
    </select>
    <button ng:click="addTodo()">Add</button>
  <hr />
    <form name="itemForm" ng-submit="addItem()" novalidate>  
      <label>Item Name</label>  
      <input type="text" ng-model="newItem.name" required /><br>  
      <label>Quantity</label>  
      <input type="number" ng-model="newItem.quantity"/><br> 
      <input ng-model="newItem.done" type="hidden"  value=false>
      <button>Submit</button>  
    </form>


    <h2>List</h2>
    <ul ng-repeat="item in items">
      <li>{{item}}</li>
    </ul>
  </div>
</body>
</html>