<html ng-app="shoppingListApp">
<head>
  <title>Shopping List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <h1>Shopping List</h1>
  <div ng-controller="ShoppingController">
    <form name="itemForm" ng-submit="addItem()">  
      <label>Item Name</label>  
      <input type="text" ng-model="newItem.name" required /><br>  
      <label>Quantity</label>  
      <input type="number" ng-model="newItem.quantity"/><br> 
      <button>Submit</button>  
    </form>
    <hr />
    <h2>List</h2>
    <ul ng-repeat="item in items">
      <li><button ng-click="removeItem(item)">Delete</button><button ng-click="editItem(item)">Edit</button>{{item.name}} ({{item.quantity}})
<!--       <form name="itemForm" ng-submit="addItem()">  
        <label>Item Name</label>  
        <input type="text" ng-model="newItem.name" required /><br>  
        <label>Quantity</label>  
        <input type="number" ng-model="newItem.quantity"/><br> 
        <button>Submit</button>  
      </form> -->
        <div ng-show="edit">
          <!-- input -->
          <button ng-click="update(item)"></button>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>